* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grow {
  width: 100%;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #54595f;
  font-family: "Montserrat", sans-serif;
  margin: 20px 30px 50px;
}

#main1 {
  margin: 10px 120px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.tableRow1 {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Poppins', sans-serif;
  color: #54595F;
  border: 1px solid gray;
}

th {
  border: 1px solid gray;
  padding: 12px;
}
td {
  border: 1px solid gray;
  padding: 12px;
  text-align: center;
  overflow-x: auto;


@media only screen and (max-width: 768px) {
  .tableRow1 {
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
  }
}


@media only screen and (max-width: 480px) {
  .tableRow1 {
    grid-template-columns: 1fr;
    font-size: 12px;
  }
}
