.sidebar {
  width: 210px;
  height: 100vh;
  background-color: #fff;
  color: black;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

li {
  margin: 25px 20px;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: #FE0000;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  .sidebar {
    width: 150px;
    padding: 10px;
  }

  li {
    margin: 15px 10px;
  }
}


@media only screen and (max-width: 480px) {
  .sidebar {
    width: 100%;
    padding: 10px;
  }

  li {
    margin: 10px;
  }
}

